---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<div slot="article" class="h-screen bg-cover bg-center bg-no-repeat"
	style="background-image: url('/amanecer-anime.webp');"
	dark-bg-violet-200 dark-text-white>
		
			<div class="perfil-home-cvu">
		  	<img src="/calaca.jpg" alt="foto de perfil" class="rounded-full h-40 w-40 mx-auto mb-4">
			<fieldset class="w-full p-4 mx-auto max-w-md bg-gray-100 dark:bg-gray-100 rounded-xl">
		  	<h3 class="text-xl font-bold text-center">Carlos Antonio Guzman Avila</h3>
			</fieldset>
		  
			  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
				<fieldset class="w-full p-8 bg-gray-100 dark:bg-gray-100 rounded-xl">
				<legend class="text-lg font-semibold">Domicilio</legend>
				<ul class="list-disc pl-8">
				  <li><span class="font-semibold">Calle:</span> Lazaro Cardenas #137</li>
				  <li><span class="font-semibold">Localidad:</span> Tlajomulco, Jalisco.</li>
				  <li><span class="font-semibold">CP:</span> 45663</li>
				  <li><span class="font-semibold">Teléfono:</span> 3334059265</li>
				</ul>
			  </fieldset>
		  
			  <fieldset class="w-full p-8 bg-gray-100 dark:bg-gray-100 rounded-xl">
			<legend class="text-lg font-semibold">Datos Generales</legend>
			<ul class="list-disc pl-8">
			  <li> <span class="font-semibold">Fecha de nacimiento:</span> 30/06/2000 </li>
			  <li> <span class="font-semibold">CURP:</span> GUAC000630HJCZVRA6 </li>
			  <li> <span class="font-semibold">Email:</span> 20940377@tlajomulco.tecnm.mx </li>
			</ul>
		  </fieldset>
		  
		  <fieldset class="w-full p-8 bg-gray-100 dark:bg-gray-100 rounded-xl">
			<legend class="text-lg font-semibold">Formación académica</legend>
			<ul class="list-disc pl-8">
			  <li> <span class="font-semibold">Primaria:</span>  </li>
			  <li> <span class="font-semibold">Secundaria:</span> Ingnacio Luis  </li>
			  <li> <span class="font-semibold">Preparatoria:</span> Cobaej Plantel 21</li>
			  <li> <span class="font-semibold">Universidad:</span> Instituto Tecnológico de Tlajomulco </li>
			</ul>
		  </fieldset>
		  
		  <fieldset class="w-full p-8 bg-gray-100 dark:bg-gray-100 rounded-xl">
			<legend class="text-lg font-semibold">Experiencia laboral</legend>
			<ul class="list-disc pl-8">
			  <li> <span class="font-semibold">Estudiante: </span> 23 años  </li>
			  <li> <span class="font-semibold">Albañil:</span> 8 años</li>
			  <li> <span class="font-semibold">Mesero:</span> 6 años</li>
			  <li><span class="font-semibold">plomero:</span> 2 años</li>
			  <li><span class="font-semibold">Materialista:</span> 1 años</li>
			  <li><span class="font-semibold">Pintor:</span> 8 años</li>
			</ul>
		  </fieldset>
		  
		  <fieldset class="w-full p-8 bg-gray-100 dark:bg-gray-100 rounded-xl">
			<legend class="text-lg font-semibold">Idiomas</legend>
			<ul class="list-disc pl-8">
			  <li> <span class="font-semibold">Español:</span> Nativo  </li>
			  <li> <span class="font-semibold">Inglés:</span> 10%</li>
			</ul>
		  </fieldset>
		  
		</div>
	  </div>
	</div>
	
</Layout>