---

---

<div class=" flex items-center justify-center text-black h-20 dark:bg-gray-200 dark:text-white">
    <div class=" w-52 flex justify-around">
        <a href="https://www.linkedin.com/in/bylcoot-ga-78a9132a2/" target="_blank">
            <img src="/in.jpeg" alt="" class=" rounded-lg h-8 hover:scale-125">
        </a>
        <a href="https://github.com/bylcoot"  target="_blank">
            <img src="/GIT.jpeg" alt="" class=" h-8 hover:scale-125">
        </a>
    </div>
</div>